# Trabajo de Inteligencia Artificial

## Análisis de sentimientos

Realizado por:
- Alicia Sánchez Hossdorf
- Rafael Segura Gómez

Fecha: 26/05/2023

Convocatoria de Junio

<h1> 1. Recopilación de datos. </h1>

In [1]:
import pandas
import numpy
from textblob import TextBlob

Hemos descargado todos los tweets que necesitamos en un CSV. Por lo que debemos leer los datos del archivo.

In [2]:
#tweetsCSV = pandas.read_csv("../Notebook/Tweets/Tweets_entrenamiento.csv", header=0)
tweetsCSV = pandas.read_csv("../Notebook/Tweets/Tweets_entrenamiento_small.csv", header=0)

Para saber cuantos tweets tenemos, miraremos cuantas filas tiene el archivo.

In [3]:
print(tweetsCSV.shape)

(78, 4)

In [4]:
# 10 primeras filas
tweetsCSV.head(10)

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
5,28b57f3990,http://www.dothebouncy.com/smf - some shameles...,http://www.dothebouncy.com/smf - some shameles...,neutral
6,6e0c6d75b1,2am feedings for the baby are fun when he is a...,fun,positive
7,50e14c0bb8,Soooo high,Soooo high,neutral
8,e050245fbd,Both of you,Both of you,neutral
9,fc2cbefa9d,Journey!? Wow... u just became cooler. hehe....,Wow... u just became cooler.,positive

Como solo necesitamos la columna text, que es donde viene los tweets que necesitamos, haremos una seleccion de dicha columna.

In [5]:
tweets = tweetsCSV[['text']]

In [6]:
tweets.head(20)

                                                 text
0                 I`d have responded, if I were going
1       Sooo SAD I will miss you here in San Diego!!!
2                           my boss is bullying me...
3                      what interview! leave me alone
4    Sons of ****, why couldn`t they put them on t...
5   http://www.dothebouncy.com/smf - some shameles...
6   2am feedings for the baby are fun when he is a...
7                                          Soooo high
8                                         Both of you
9    Journey!? Wow... u just became cooler.  hehe....
10   as much as i love to be hopeful, i reckon the...
11  I really really like the song Love Story by Ta...
12       My Sharpie is running DANGERously low on ink
13  i want to go to music tonight but i lost my vo...
14                         test test from the LG enV2
15                              Uh oh, I am sunburned
16   S`ok, trying to plot alternatives as we speak...
17  i`ve been sick for the past few days  and thus...
18         is back home now      gonna miss every one
19                         Hes just not that into you

<h1> 2. Eliminar las palabras que no aportan información </h1>

In [28]:
import nltk
import re
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords

from nltk.stem import WordNetLemmatizer

In [8]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rafse\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [9]:
from nltk import download

download('punkt', download_dir='.')

[nltk_data] Downloading package punkt to ....
[nltk_data]   Package punkt is already up-to-date!

True

In [10]:
sWords = set(stopwords.words('english'))
print(sWords)

{'having', 'any', 'been', 'through', 'we', 'or', 'there', 'ourselves', 'hasn', 'as', 'nor', 'each', 'are', 'again', "she's", 'wouldn', 'only', "wouldn't", 'did', 'to', 'isn', 'be', 'by', 'into', "wasn't", 'those', 'this', 'i', 'ours', 'my', 've', "isn't", "it's", 'on', 'out', 'mightn', "mightn't", "weren't", "hasn't", 'below', 'myself', 'very', 'because', "won't", 'do', 'so', 'after', 'during', 'of', 'here', 'should', 'himself', 'your', 'off', 'against', 'between', 'up', 'same', 'most', 'theirs', 'her', 'were', 'then', 'doing', "needn't", "you're", 'its', 'has', 'ma', 'in', 'll', 'she', 'above', "doesn't", 'but', 'am', 'weren', 'further', 'few', 'just', 'if', 'that', 'you', 'which', 'where', "don't", 'wasn', 'and', 'our', 'who', "shan't", 'whom', 'about', "aren't", 'the', "hadn't", 'ain', 'what', 'all', 'needn', 'at', 'o', 'until', 'haven', 'once', 'both', 'such', 'm', 'yourselves', "that'll", 'yourself', 'while', 'own', 'themselves', 'aren', "didn't", 'down', 'over', 'too', 'a', 't', 'y', 'me', 'will', 'yours', 'it', 'than', 'didn', 'itself', 'was', 'from', 'for', 'no', 'he', 'have', 'can', 'other', 'does', "shouldn't", 'with', 'how', 'not', 'shouldn', 'under', 'shan', 'hadn', "couldn't", 'being', 'an', 'mustn', 'him', "you'll", 'why', 'their', 'is', 's', 'hers', 'doesn', 'herself', 'had', 'more', 'them', 'they', 'some', "mustn't", 'don', 'his', 'couldn', "you'd", 'now', 'when', 're', "you've", "should've", 'won', 'these', 'before', 'd', "haven't"}

Crear una función clean_text para eliminar las palabras comunes y poco informativas; eliminar menciones, hashtags, URLs y cualquier otro símbolo extraño; y que utilice técnicas de lematización (stemming) y tokenización para reducir las palabras a su forma base

In [11]:
#Funcion para corregir gramaticalmente

def correctGrammar_tweets(tweet):
    tweetBlob = TextBlob(tweet)
    return tweetBlob.correct()

In [12]:
#Funcion para eliminar las stop words y tokenizado.

def delete_stopWords(tweet):
    tweetLow = tweet.lower()
    tweetWords = word_tokenize(tweetLow)
    tweetFiltered = []
        
    for w in tweetWords:
        if w not in sWords:
            tweetFiltered.append(w)
    return tweetFiltered

In [13]:
#Esta funcion es para eliminar menciones, hashtags, URLs y cualquier otro símbolo extraño.

def delete_otherElements(tweet):
    tweet = re.sub("@[A-Za-z0-9_]+","", tweet)
    tweet = re.sub("#[A-Za-z0-9_]+","", tweet)
    tweet = re.sub("http[^\s]+","",tweet)
    tweetFiltered = re.sub(r"[-()\"#/@;:<>{}+=*~|.!?,]", "", tweet)

    return tweetFiltered

## Función para limpiar el text

Con los tweets tokenizados, lematizados y sin stop words lo pasamos a lista.

In [31]:
def clean_text(Tweets): 
    res = Tweets.copy()
    i = 0;
    stemmer = SnowballStemmer("english")
    while i<len(tweets):
        tweet_cleaned = []
        
        clean_t = delete_otherElements(Tweets['text'].get(i))
        tNoStopWords = delete_stopWords(clean_t)
        #Esto es para la lematización de la frase. 
        for w in tNoStopWords:
            if w != "`":
                tweet_cleaned.append(stemmer.stem(w))
        res.at[i,'text'] = tweet_cleaned
        
        i+=1
    return res

In [32]:
tweets_cleaned = clean_text(tweets)

In [33]:
print(tweets_cleaned.head(20))

                                                 text
0                                       [respond, go]
1                       [sooo, sad, miss, san, diego]
2                                       [boss, bulli]
3                             [interview, leav, alon]
4                 [son, put, releas, alreadi, bought]
5       [shameless, plug, best, ranger, forum, earth]
6                  [2am, feed, babi, fun, smile, coo]
7                                       [soooo, high]
8                                                  []
9     [journey, wow, u, becam, cooler, hehe, possibl]
10  [much, love, hope, reckon, chanc, minim, p, ne...
11  [realli, realli, like, song, love, stori, tayl...
12                    [sharpi, run, danger, low, ink]
13             [want, go, music, tonight, lost, voic]
14                             [test, test, lg, env2]
15                                  [uh, oh, sunburn]
16               [ok, tri, plot, altern, speak, sigh]
17  [sick, past, day, thus, hair, look, wierd, did...
18            [back, home, gon, na, miss, everi, one]
19                                              [hes]

In [17]:
# Supongamos que tu dataframe se llama "df" y la columna con los textos se llama "text"
tweets_cleaned['text_corregido'] = tweets_cleaned['text'].apply(lambda x: str(TextBlob(" ".join(x)).correct()))

# Muestra el dataframe con los textos corregidos
print(tweets_cleaned.head(20))

                                                 text  \
0                                       [respond, go]
1                       [sooo, sad, miss, san, diego]
2                                       [boss, bulli]
3                             [interview, leav, alon]
4                 [son, put, releas, alreadi, bought]
5       [shameless, plug, best, ranger, forum, earth]
6                  [2am, feed, babi, fun, smile, coo]
7                                       [soooo, high]
8                                                  []
9     [journey, wow, u, becam, cooler, hehe, possibl]
10  [much, love, hope, reckon, chanc, minim, p, ne...
11  [realli, realli, like, song, love, stori, tayl...
12                    [sharpi, run, danger, low, ink]
13             [want, go, music, tonight, lost, voic]
14                             [test, test, lg, env2]
15                                  [uh, oh, sunburn]
16               [ok, tri, plot, altern, speak, sigh]
17  [sick, past, day, thu, hair, look, wierd, didn...
18            [back, home, gon, na, miss, everi, one]
19                                               [he]

                                       text_corregido
0                                          respond go
1                             soon sad miss san diego
2                                           boss bull
3                               interview leave along
4                      son put release already bought
5              shameless plug best ranger forum earth
6                          am feed baby fun smile too
7                                           soon high
8
9           journey now u became cooper here possible
10  much love hope reckon chance minims p never on...
11    really really like song love story taylor swift
12                           sharp run danger low ink
13                   want go music tonight lost voice
14                                  test test ll envy
15                                     up oh sunburnt
16                       ok try plot alter speak sigh
17  sick past day the hair look wired didn hat wou...
18                     back home on na miss every one
19                                                 he

In [18]:
# Muestra el dataframe con los textos corregidos
tweets_cleaned[['text_corregido']]

                                       text_corregido
0                                          respond go
1                             soon sad miss san diego
2                                           boss bull
3                               interview leave along
4                      son put release already bought
..                                                ...
73  'you ride one catch one summer til pop open one '
74  good gorjuz yea no ask yesterday the hospital ...
75  ok pop say hi check thing probably head gutta ...
76              now really mission family today added
77                                         source say

[78 rows x 1 columns]

## Etiquetado de datos

Documentar:
- !pip install textblob

In [19]:
import os
import csv
from textblob import TextBlob

In [20]:

def tag_text(text):
    tweet = ' '.join(text)  # Convertir la lista de palabras en una cadena de text
    blob = TextBlob(tweet)
    tag = blob.sentiment.polarity #Entre -1 y 1, de peor a mejor respectivamente
    return tweet, tag

csv_path = 'Tweets/resultados.csv'

with open(csv_path, 'w', newline='',encoding='utf-8-sig') as csv_file: #Forzamos formato utf-8, otro da problemas
    writer = csv.writer(csv_file)
    writer.writerow(['text', 'tag'])
    
    if len(tweets_cleaned) == 0:
        print("ÇNothing to tag, espabila notas.")
        exit()

    for _, row in tweets_cleaned.iterrows(): #Usamos iterrows porque tweets_cleaned es de tipo dataframe
        result = tag_text(row['text'])
        writer.writerow(result)

In [21]:
tweets_results = pandas.read_csv("../Notebook/Tweets/resultados.csv", header=0)

In [22]:
print(tweets_results.shape)

(78, 2)

In [23]:
# 10 primeras filas
tweets_results.head(20)

                                                 text       tag
0                                          respond go  0.000000
1                             sooo sad miss san diego -0.500000
2                                          boss bulli  0.000000
3                                 interview leav alon  0.000000
4                       son put releas alreadi bought  0.000000
5              shameless plug best ranger forum earth  1.000000
6                         2am feed babi fun smile coo  0.300000
7                                          soooo high  0.160000
8                                                 NaN  0.000000
9             journey wow u becam cooler hehe possibl  0.100000
10  much love hope reckon chanc minim p never gon ...  0.500000
11    realli realli like song love stori taylor swift  0.500000
12                          sharpi run danger low ink  0.000000
13                    want go music tonight lost voic  0.000000
14                                  test test lg env2  0.000000
15                                      uh oh sunburn  0.000000
16                      ok tri plot altern speak sigh  0.500000
17  sick past day thu hair look wierd didnt hat wo... -0.482143
18                    back home gon na miss everi one  0.000000
19                                                 he  0.000000